page-register {

    .content{
        background-color: #96bff7;
    }

    ion-card-title{
        text-align: center;
    }

    .logo{
        height: 100px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }

    .button_submit{
        margin-top: 10px;
    }
}
