page-profile{

    .logo{
        height: 30px;
    }

    ion-title{
        padding-top: 10px;
    }

    .profile-picture{
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    h2{
        text-align: center;
    }
}