<ion-header>
  <ion-navbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <img class="logo" src="assets/imgs/logo.png">
          </div>
        </ion-col>
        <ion-col>
          <div style="align-content: center;">
            <ion-title class="month-title" text-center>UPCOMING SCHEDULES</ion-title>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  <h5 *ngIf="schedules.length <= 0" text-center>No Upcoming Schedules</h5>
  <ion-item-divider *ngIf="schedules.length > 0" sticky>Upcoming Schedules: {{startDate}} - {{endDate}}</ion-item-divider>
  <ion-card *ngFor="let schedule of schedules">
    <ion-card-header>
      <ion-item>
        <strong>{{schedule.title | ltrim: "KiddieCare-"}}</strong>
        <button color="danger" ion-button round outline item-end (click)="deleteSchedule(schedule)">DELETE</button>
      </ion-item>
    </ion-card-header>

    <ion-card-content (click)="openCal(schedule)">
      <ion-list no-lines>
        <ion-item>
          <ion-icon name="calendar"></ion-icon> <strong>Date:</strong> {{schedule.dtstart | date: 'longDate'}}
        </ion-item>
        <ion-item>
          <ion-icon name="time"></ion-icon> <strong>Time:</strong> {{schedule.dtstart | date: 'shortTime'}}
        </ion-item>
        <ion-item *ngIf="schedule.eventLocation !== ''">
          <ion-icon name="locate"></ion-icon> <strong>Location:</strong> {{schedule.eventLocation}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-buttons class="bottom">
    <button ion-button round icon-start (click)="addEvent()">
      <ion-icon name="add"></ion-icon>Add New schedule
    </button>
  </ion-buttons>

</ion-content>