<ion-header>
  <ion-navbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <img class="logo" src="assets/imgs/logo.png">
          </div>
        </ion-col>
        <ion-col>
          <div style="align-content: center;">
            <ion-title class="month-title">UPCOMING SCHEDULES</ion-title>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  <h5 *ngIf="schedules.length <= 0" text-center>No Upcoming Schedules</h5>
  <ion-card *ngFor="let schedule of schedules">
    <ion-card-header>
      <ion-item>
        {{schedule.title | ltrim: "KiddieCare-"}}
        <ion-icon name="trash" color="gray" (click)="deleteSchedule(schedule)" item-right></ion-icon>
      </ion-item>

    </ion-card-header>
    <ion-card-content (click)="openCal(schedule)">
      <ion-list no-lines>
        <ion-item>
          <ion-icon name="calendar" color="primary"></ion-icon> Date Start: {{schedule.dtstart | date: 'medium'}}
        </ion-item>
        <ion-item>
          <ion-icon name="calendar" color="danger"></ion-icon> Date End: {{schedule.dtend | date: 'medium'}}
        </ion-item>
        <ion-item>
          <ion-icon name="locate"></ion-icon> Location:
          {{schedule.eventLocation != '' ? schedule.eventLocation : 'Location not specified'}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab (click)="addEvent()" mini tooltip="Add/Set a schedule" mobileEvent="press" duration="2000" positionH="right" positionV="top" arrow>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>