<ion-header>
  <ion-navbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <img class="logo" src="assets/imgs/logo.png">
          </div>
        </ion-col>
        <ion-col>
          <div style="align-content: center;">
            <ion-title>CHILDREN</ion-title>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list class="list-content">    

    <h5 *ngIf="children.length <= 0" style="margin-top: 20px; color: gray;" text-center>No child profile to show</h5>

    <ion-item *ngFor="let child of children">
      <ion-avatar item-start (click)="viewChild(child)" tappable>
        <img *ngIf="child.gender == 'Male'" src="assets/imgs/child_male.png">
        <img *ngIf="child.gender == 'Female'" src="assets/imgs/child_female.png">
      </ion-avatar>
      <div (click)="viewChild(child)" tappable>
        <h2>{{child.first_name}} {{child.last_name}}</h2>
        <p>Birthdate: {{child.birth_date | date: 'MMMM dd, yyyy'}}</p>
        <p>Gender: {{child.gender}}</p>
        <p>Age: {{returnAge(child.birth_date)}}</p>
      </div>      
      <button color="kiddieGreen" ion-button round outline item-end (click)="editChild(child)">EDIT</button>
      <button color="danger" ion-button round outline item-end (click)="deleteChild(child.child_id)">DELETE</button>
      <h5 text-center style="color: #96bff7;" (click)="viewChild(child)"><ion-icon name="eye"></ion-icon> View child records</h5>
    </ion-item>

  </ion-list>

  <ion-buttons class="bottom">
    <button ion-button round icon-start (click)="addChild()">
      <ion-icon name="add"></ion-icon> Add New Child Profile
    </button>
  </ion-buttons>

</ion-content>
