page-children{

    .logo{
        height: 30px;
    }

    ion-title{
        padding-top: 10px;
    }

    .list-content{
        margin-top: 10px;
    }

    .bottom{
        position:fixed;
        bottom: 15px;
        right: 0;
    }
}
