<ion-header>
  <ion-navbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <img class="logo" src="assets/imgs/logo.png">
          </div>
        </ion-col>
        <ion-col>
          <div style="align-content: center;">
            <ion-title>CHILDREN</ion-title>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list class="list-content">    

    <h5 *ngIf="children.length <= 0"></h5>

    <ion-item *ngFor="let child of children">
      <ion-avatar item-start (click)="viewChild(child)" tappable>
        <img src="assets/imgs/child-icon.png">
      </ion-avatar>
      <div (click)="viewChild(child)" tappable>
        <h2>{{child.first_name}} {{child.last_name}}</h2>
        <p>Birthdate: {{child.birth_date | date: 'MMMM dd, yyyy'}}</p>
        <p>Gender: {{child.gender}}</p>
        <p>Age: {{returnAge(child.birth_date)}}</p>
      </div>
      <ion-icon name="create" item-end color="gray" (click)="editChild(child)"></ion-icon>
      <ion-icon name="trash" item-end color="gray" (click)="deleteChild(child.child_id)"></ion-icon>
    </ion-item>

  </ion-list>

  <!--ion-fab right bottom>
    <button ion-fab (click)="addChild()" mini tooltip="Add a child to children list" mobileEvent="press" duration="2000" positionH="right" positionV="top" arrow>
      <ion-icon name="add"></ion-icon> Add new child
    </button>
  </ion-fab-->

  

  <ion-buttons class="bottom">
    <button ion-button round icon-start (click)="addChild()">
      <ion-icon name="add"></ion-icon>Add New Child
    </button>
  </ion-buttons>

</ion-content>